services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_SUPABASE_URL: https://yvgynzmzjoxffyeftjem.supabase.co
        NEXT_PUBLIC_SUPABASE_ANON_KEY: sb_publishable_YiKkU8ojm8Wdjeyg7AZXgA_JP59Alig
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: always

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    environment:
      - SUPABASE_URL=https://yvgynzmzjoxffyeftjem.supabase.co
      - SUPABASE_KEY=sb_publishable_YiKkU8ojm8Wdjeyg7AZXgA_JP59Alig
    restart: always
